body {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 251, 251);
}
#main {
  margin: 7% 5%;
  padding: 3%;
  background-color: #fffffff6;
  border: 1px solid rgb(243, 238, 238);
  float: middle;
}
#cabecalho {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #023d8aaf;
  height: 60px;
  text-align: center;
  margin: 0;
  font-size: 13px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.89);
}
#minha_foto{
  border-radius: 50%;  
  box-shadow: 3px 10px 10px -3px rgb(204, 197, 197);
  margin: 50px 0;
}
ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  display: inline-block;
  color: rgb(107, 96, 96);
  text-decoration: none;
  border-bottom: 3px solid#fffffff6;
}
article {
  margin: auto;
  justify-content: center;
  width: 80%;
  margin-top: 2%;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: rgb(61, 68, 94);
}
aside{
  margin: auto;
  justify-content: center;
  width: 135%;
  margin-top: 2%;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: rgb(61, 68, 94);
  text-align: top;
}
article h1 {
  padding: 10px;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(235, 233, 233);
  font-weight: 700;
  font-size: 2em;
  color: rgb(62, 75, 119);
}
article h2 {
  padding: 10px;
  text-align: center;
  font-weight: 400;
  color: rgb(62, 75, 119);
}
hr {
  border: none;
  background: linear-gradient(to right, white, rgb(192, 201, 238), white);
  height: 2px;
}
h1,
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-align: center;
}
.i {
  text-decoration: italic;
}
section {
  text-align: center;
}
.div-table {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 2px 0;
  margin: 40px 0;
  line-height: 20px;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  box-shadow: 0px 8px 10px 0px rgba(246, 246, 246, 0.952);
  border: 2px dashed rgb(182, 182, 182);
  padding: 4px 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
footer {
  display: flex;
  justify-content: space-around;
}
.text-color {
  color: rgb(41, 35, 35);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  background-color: #f3f3f3f6;
  border: 1px solid rgb(149, 143, 143);
  margin-top: 2%;
}
.menu ul {
  padding: 0px;
  list-style: none;
}
.menu ul li {
  display: inline;
}
.menu ul li a {
  padding: 2px 50px;
  margin: 2px 50px;
  display: inline-block;
  color: rgb(107, 96, 96);
  text-decoration: none;
  border-bottom: 3px solid #f3f3f3f6;
}
.menu ul li a:hover {
  color: rgb(41, 35, 35);
  font-weight: 700;  
}
.menu ul li a:active {
  color: red;
}
.section-asides {
  display: flex;
  text-align: left;
  color: rgb(41, 35, 35);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3px solid #fffffff6;
}
.section-asides h1 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(12, 12, 77);
}
.section-asides-div {
  padding: 10px;
  margin: 0 auto;
}
p {
  line-height: 1.6em;
}
.lado-esquerdo {
  float: left;
  
}
.lado-direito {
  float: right;
}
.div-article-section {
  display: flex;
}
